<!DOCTYPE html>
<html lang="en">

    <head>
        {% load static %}
        <meta charset='UTF-8'>
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        <meta name="viewport" content="width=device-width,initial-scale-1.0">
        <title>GrievancePro</title>
        <link rel="icon" href="{% static 'images/logof.png' %}" type="image/png">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        </head>

    <body>
        <header>
            <h2 class="logo">GrievancePro</h2>
            <nav class="navigation">
                <a href="#tickets">Tickets</a>
                <a href="#">Proflie</a>
            </nav>
        </header>

        
        
        <main>
        
            <section class="booking-info">
                <h2>Resolving Issues Made Easy</h2>
                <p>With GrievancePro, you can resolve issue quickly and securely. Our user-friendly platform allows you to add, drop and manage issues.</p>
            </section>
        
            <section class="services" id="tickets">
                <h2>Raise Ticket</h2>
                    <!-- Login Form -->
                    <div class="form-box login">
                        <form method="POST" action="{% url 'login_form' %}">
                            {% csrf_token %}
                            <div class="input-box">
                                <span class="icon"><ion-icon name="mail-outline"></ion-icon></span>
                                <input type="email" id="email_input" name="email" required>
                                <label>Email</label>
                            </div>
                            <div class="input-box">
                                <span class="icon"><ion-icon name="lock-closed-outline"></ion-icon></span>
                                <input type="password" id="password_input" name="pass" required>
                                <label>Password</label>
                            </div>
                            <div class="remember-forgot">
                                <label><input type="checkbox" id="checkbox_input" name="checkbox">Remember me</label>
                                <a href="#" class="forgot-link">Forgot Password?</a>
                            </div>
                            <button type="submit" class="btn">Submit</button>
                        </form>
                    </div>
            </section>
        
            </section>
        
            
        </main>

        <script src="{% static 'js/flow.js' %}"></script>
        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    </body>

</html>